html,
body {
	padding: 0;
	margin: 0;
}

html {
	font-family: 'Futura', Arial, Helvetica, sans-serif;
	color: var(--font-body);
}

body {
	box-sizing: border-box;
	background-color: var(--body-bg);

	* ::selection {
		background-color: var(--highlight);
	}
}

* {
	box-sizing: border-box;
}