@media only screen {
	.dragdrop {
		transition: box-shadow 0.4s ease, background-color 0.4s ease;

		&.highlight {
			background-color: rgba(255, 225, 136, 0.406);
			box-shadow: inset 0px 0px 5px 5px rgb(0, 0, 0, 0.5);
		}
	}
}