@use '../base/mixins';

@media only screen {
	.imageslist {
		display: grid;
		grid-template-rows: 8% 82% 10%;
		max-height: 100vh;
		overflow: hidden;
		background-color: var(--imagelist-reveal-bg);
	}

	.imageslist-header {
		width: 100%;
		text-align: center;
		padding: 5px 0px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
		background-color: var(--imagelist-header-bg);
	}

	.imageslist-header-text-item {
		color: var(--imagelist-font-color);
		font-family: var(--font-body);
		font-size: 14px;
		text-align: center;
		display: block;
	}

	.imageslist-header-text-subitem {
		@extend .imageslist-header-text-item;
		font-size: 12px;
	}

	.imageslist-list {
		overflow: scroll;
		background-color: var(--imagelist-bg);
	}

	.imageslist-list-item {
		display: block;
		position: relative;
		width: calc(100% - 24px);
		margin: 12px;
		box-sizing: border-box;
		animation: 0.25s ease 0s 1 normal both running openup;

		@keyframes openup {
			0% {
				opacity: 0;
				transform: scale(0);
			}

			100% {
				opacity: 1;
				transform: scale(1);
			}
		}

		&:hover {

			.imageslist-list-item-filename,
			.imageslist-list-item-close,
			.imageslist-list-item-reveal {
				pointer-events: all;
				opacity: 1;
				transform: scale(1);
			}

			.imageslist-list-item-filename {
				pointer-events: none;
			}
		}

		&.active {
			.imageslist-list-item-image {
				border: 2px solid var(--imagelist-item-border-color);
				box-shadow: 0px 4px 15px var(--imagelist-item-border-color);
			}
		}
	}

	.imageslist-list-item-close,
	.imageslist-list-item-reveal {
		position: absolute;
		top: 4px;
		left: 4px;
		text-decoration: none;
		color: var(--imagelist-item-close-font-color);
		background-color: var(--imagelist-item-close-bg);
		padding: 0px 7px 2px 7px;
		border-radius: 25px;
		font-family: var(--font-body);
		border: 1px solid var(--imagelist-item-close-stroke-color);
		pointer-events: none;
		opacity: 0;
		transition: opacity 0.25s ease, transform 0.25s ease;
		transform: scale(0);
	}

	.imageslist-list-item-reveal {
		top: 34px;
		padding: 0px 10px 2px 10px;
		background-color: var(--imagelist-item-reveal-bg);

		&:before {
			content: '';
			position: absolute;
			bottom: 31%;
			transform: rotate(45deg);
			left: 46%;
			width: 7px;
			height: 2px;
			background-color: var(--imagelist-item-close-font-color);
		}

		&:after {
			content: '';
			position: absolute;
			top: 21%;
			left: 22%;
			border-radius: 100%;
			border: 2px solid var(--imagelist-item-close-font-color);
			width: 5px;
			height: 5px;
		}

	}

	.imageslist-list-item-loading {
		@include mixins.loading;
		position: absolute;
		top: calc(50% - 33px);
		right: 50%;
		margin-bottom: 0;
		border-color: var(--imagelist-item-loading-color1);
		pointer-events: none;
		
		@keyframes rotateBorderColor {
			0% {
				border-color: var(--imagelist-item-loading-color1);
			}

			50% {
				border-color: var(--imagelist-item-loading-color2);
			}

			100% {
				border-color: var(--imagelist-item-loading-color1);
			}
		}

		&.active {
			animation:
				l20-1 0.8s infinite linear alternate,
				l20-2 1.6s infinite linear,
				rotateBorderColor 1s infinite linear;
		}
	}

	.imageslist-list-item-image {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		height: 100%;
		display: block;
		min-height: 200px;
		box-shadow: 0px 4px 15px var(--imagelist-item-shadow-color);
		transition: box-shadow 0.5s ease, border-color 0.5s ease;
		border: 2px solid transparent;
		text-decoration: none;
		box-sizing: border-box;
		background-clip: border-box;
		background-origin: border-box;
	}

	.imageslist-list-item-filename {
		font-family: var(--font-body);
		font-size: 12px;
		letter-spacing: 0.5px;
		padding: 5px 10px;
		color: var(--imagelist-item-close-font-color);
		position: absolute;
		bottom: 5px;
		left: 5px;
		background-color: var(--imagelist-item-reveal-bg);
		pointer-events: none;
		opacity: 0;
		transition: opacity 0.25s ease, transform 0.25s ease;
		transform: scale(0);
	}

	.imageslist-list-loading {
		border-radius: 50%;
		border: 8px solid var(--imagelist-loading-fill);
		position: relative;
		left: calc(50% - 33px);
		transform: scale(0);
		opacity: 0;
		pointer-events: none;
		transition: transform 0.25s ease, opacity 0.25s ease, width 0.25s ease;
		width: 0px;
		aspect-ratio: 1;
		margin-bottom: 20px;

		&.active {
			width: 50px;
			transform: scale(1);
			animation:
				l20-1 0.8s infinite linear alternate,
				l20-2 1.6s infinite linear;
			display: block;
			opacity: 1;
		}

		@keyframes l20-1 {
			0% {
				clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%)
			}

			12.5% {
				clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%)
			}

			25% {
				clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%)
			}

			50% {
				clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
			}

			62.5% {
				clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
			}

			75% {
				clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%)
			}

			100% {
				clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%)
			}
		}

		@keyframes l20-2 {
			0% {
				transform: scaleY(1) rotate(0deg)
			}

			49.99% {
				transform: scaleY(1) rotate(135deg)
			}

			50% {
				transform: scaleY(-1) rotate(0deg)
			}

			100% {
				transform: scaleY(-1) rotate(-135deg)
			}
		}
	}

	.imageslist-list-clearall {
		color: var(--imagelist-reveal-button-font-color);
		text-decoration: none;
		font-family: 'Futura', sans-serif;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		display: inline-block;
		margin-bottom: 30px;
		border: 1px solid var(--imagelist-reveal-button-stroke-color);
		padding: 10px 20px 8px 20px;
		background-color: var(--imagelist-item-close-bg);
		letter-spacing: 0.5px;
	}

	.imageslist-revealbutton {
		font-family: var(--font-body);
		letter-spacing: 0.5px;
		width: calc(100% - 40px);
		height: calc(100% - 40px);
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		color: var(--imagelist-reveal-button-font-color);
		background-color: var(--imagelist-reveal-button-bg);
		border: 1px solid var(--imagelist-reveal-button-stroke-color);
		box-sizing: border-box;
		margin: 20px;
	}
}
