@media only screen {
	.settingspane {
		position: absolute;
		z-index: 100;
		background-color: var(--settings-tint-bg);
		color: var(--settings-font-color);
		width: 100%;
		height: 100%;
		font-family: var(--font-body);
		letter-spacing: 0.5px;
		transition: opacity 0.25s ease, transform 0.25s ease;
		opacity: 0;
		transform: scale(0);
		pointer-events: none;

		&.active {
			pointer-events: all;
			opacity: 1;
			transform: scale(1);
		}
	}

	.settingspane-inner {
		position: relative;
		background-color: var(--settings-bg);
		padding: 20px;
		margin: 40px;
		width: calc(100% - 80px);
		height: calc(100% - 80px);
		box-sizing: border-box;
	}

	.settingspane-inner-close {
		color: var(--settings-font-color);
		text-decoration: none;
		position: absolute;
		top: 20px;
		left: 20px;
		font-size: 40px;
		text-box: trim-both cap text;
	}

	.settingspane-inner-header {
		text-align: center;
		font-family: var(--font-header);
		font-size: 44px;
	}

	.settingspane-inner-fields {
		height: calc(100% - 40px);
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-evenly;
	}

	.settingspane-inner-fields-form {
		max-width: 800px;
		margin: 0 auto;
		width: 100%;
	}

	.settingspane-inner-fields-form-fields {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: repeat(2, 1fr);
	}

	.settingspane-inner-fields-form-fields-field {
		margin-bottom: 40px;
		position: relative;

		&.number {
			&:before {
				content: '';
				pointer-events: none;
				position: absolute;
				right: 20px;
				bottom: 22px;
				z-index: 10;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0px 4px 8px 4px;
				border-color: transparent transparent var(--settings-font-color) transparent;
				transform: rotate(0deg);
			}

			&:after {
				content: '';
				pointer-events: none;
				position: absolute;
				right: 20px;
				bottom: 11px;
				z-index: 10;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 8px 4px 0px 4px;
				border-color: var(--settings-font-color) transparent transparent transparent;
				transform: rotate(0deg);
			}
		}
	}

	.settingspane-inner-fields-form-fields-field-button,
	.settingspane-inner-fields-form-field-submit {
		appearance: none;
		border: 1px solid var(--settings-font-color);
		color: var(--settings-font-color);
		font-family: var(--font-body);
		padding: 7px 14px;
		font-size: 18px;
		letter-spacing: 0.5px;
		cursor: pointer;
		margin-right: 15px;

		&[name="save"] {
			background-color: var(--settings-save-bg);
		}

		&[name="restoredefaults"] {
			background-color: var(--settings-restore-bg);
		}
	}

	.settingspane-inner-fields-form-fields-field-button {
		margin-top: 15px;
		margin-right: 0;
		position: absolute;
		background-color: var(--settings-field-bg);
		font-size: 12px;
	}

	.settingspane-inner-fields-form-fields-field-label {
		display: block;
		font-size: 21px;
		letter-spacing: 0.5px;
		margin-bottom: 5px;
	}

	.settingspane-inner-fields-form-fields-field-select {
		
		div[class*="singleValue"],
		div[class*="control"],
		div[class*="menu"] {
			border-radius: 0px;
			background-color: var(--settings-field-bg);
			color: var(--settings-font-color);
		}

		div[class*="control"] {
			border: 1px solid var(--settings-field-border-color);
			border-color: var(--settings-field-border-color);
			box-shadow: none;

			&:hover {
				border-color: var(--settings-field-border-color);
			}
		}

		div[class*="option"] {
			background-color: var(--settings-field-bg);

			&:active,
			&:hover {
				background-color: var(--settings-field-bg-hover);
			}
		}

		div[class*="indicatorContainer"] {
			color: var(--settings-font-color);
		}

		// hide weird cursor flicking.
		.css-hlgwow input {
			&,
			&:after{
				opacity: 0 !important;
			}
		}
	}



	.settingspane-inner-fields-form-fields-field-number {
		appearance: none;
		padding: 10px 10px 8px 10px;
		font-size: 15px;
		font-family: var(--font-body);
		width: 100%;
		box-sizing: border-box;
		background-color: var(--settings-field-bg);
		color: var(--settings-font-color);
		border: 0px;
		border: 1px solid var(--settings-field-border-color);
		position: relative;

		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			opacity: 0;
			cursor: pointer;
			padding: 7px;
		}


	}

	.settingspane-inner-fields-form-fields-field-desc {
		position: absolute;
		margin-top: 24px;
		font-size: 12px;
		margin-left: 130px;
	}
}