@mixin loading {
	border-radius: 50%;
	border: 8px solid var(--imagelist-loading-fill);
	position: relative;
	left: calc(50% - 33px);
	transform: scale(0);
	opacity: 0;
	pointer-events: none;
	transition: transform 0.25s ease, opacity 0.25s ease, width 0.25s ease;
	width: 0px;
	aspect-ratio: 1;
	margin-bottom: 20px;

	&.active {
		width: 50px;
		transform: scale(1);
		animation:
			l20-1 0.8s infinite linear alternate,
			l20-2 1.6s infinite linear;
		display: block;
		opacity: 1;
	}

	@keyframes l20-1 {
		0% {
			clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%)
		}

		12.5% {
			clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%)
		}

		25% {
			clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%)
		}

		50% {
			clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
		}

		62.5% {
			clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
		}

		75% {
			clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%)
		}

		100% {
			clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%)
		}
	}

	@keyframes l20-2 {
		0% {
			transform: scaleY(1) rotate(0deg)
		}

		49.99% {
			transform: scaleY(1) rotate(135deg)
		}

		50% {
			transform: scaleY(-1) rotate(0deg)
		}

		100% {
			transform: scaleY(-1) rotate(-135deg)
		}
	}
}

@mixin reactSelectStyle {
	font-family: var(--font-body);
	div[class*="singleValue"],
	div[class*="control"],
	div[class*="menu"] {
		border-radius: 0px;
		background-color: var(--settings-field-bg);
		color: var(--settings-font-color);
	}

	div[class*="menu"] {
		z-index: 15;
	}

	div[class*="control"] {
		border: 1px solid var(--settings-field-border-color);
		border-color: var(--settings-field-border-color);
		box-shadow: none;

		&:hover {
			border-color: var(--settings-field-border-color);
		}
	}

	div[class*="option"] {
		background-color: var(--settings-field-bg);
		color: var(--settings-field-font-color);

		&:active,
		&:hover {
			background-color: var(--settings-field-bg-hover);
		}
	}

	div[class*="indicatorContainer"] {
		color: var(--settings-font-color);
	}

	// hide weird cursor flicking.
	.css-hlgwow input {

		&,
		&:after {
			opacity: 0 !important;
		}
	}
}