@font-face {
  font-family: "Madimi One";
  src: url("fonts/MadimiOne-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura";
  src: url("fonts/FuturaLT.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura";
  src: url("fonts/FuturaLT-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "San Francisco";
  src: url("fonts/SFProDisplay-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "San Francisco";
  src: url("fonts/SFProDisplay-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
html,
body,
.root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Madimi One";
  letter-spacing: 3%;
  margin: 0px;
}

body.theme-light {
  --mainbg-gradient: linear-gradient(-45deg, #667EEA, #764BA2);
}
body.theme-dark {
  --font-header: 'Madimi One', sans-serif;
  --font-body: 'Futura', Arial, Helvetica, sans-serif;
  --mainbg-gradient: linear-gradient(-45deg, #3D4C8C, #472D61);
  --tooltip-bg: rgb(0, 0, 0);
  --imagelist-header-color: rgba(217, 217, 217, 0.8);
  --imagelist-header-bg: rgba(88, 88, 88, 0.25);
  --imagelist-bg: rgba(32, 32, 32, 0.5);
  --imagelist-reveal-bg: rgba(52, 52, 52, 0.5);
  --imagelist-font-color: #D6D6E9;
  --imagelist-reveal-button-bg: rgba(52, 52, 52, 0.8);
  --imagelist-reveal-button-font-color: #fff;
  --imagelist-reveal-button-stroke-color: #fff;
  --imagelist-item-close-bg: #c72782;
  --imagelist-item-reveal-bg: rgb(97, 97, 97);
  --imagelist-item-border-color: rgba(255, 255, 255, 0.6);
  --imagelist-item-shadow-color: #000;
  --imagelist-item-close-font-color: #fff;
  --imagelist-item-close-stroke-color: rgba(255, 255, 255, 0.25);
  --imagelist-loading-fill: #514b82;
  --imagecanvas-bg: rgba(0, 0, 0, 0.25);
  --imagecanvas-header-bg: rgba(52, 52, 52, 0.8);
  --imagecanvas-footer-bg: rgba(52, 52, 52, 0.8);
  --imagecanvas-header-font-color: #fff;
  --imagecanvas-sliders-bg: rgba(41, 39, 46, 1);
  --imagecanvas-sliders-font-color: #fff;
  --imagecanvas-slider-handle-fill: #989898;
  --imagecanvas-slider-handle-stroke: #B4B4B4;
  --imagecanvas-slider-track: #CFCFCF;
  --imagecanvas-slider-number-bg: #595959;
  --imagecanvas-slider-number-font-color: #fff;
  --hottoast-bg: #4e4e4e;
  --hottoast-font-color: #ffffff;
  --settings-tint-bg: rgba(0, 0, 0, 0.7);
  --settings-bg: #262626;
  --settings-font-color: #fff;
  --settings-field-bg: #373737;
  --settings-field-bg-hover: #606060;
  --settings-field-border-color: #fff;
  --settings-save-bg: rgba(8, 146, 89, 0.8);
  --settings-restore-bg: rgba(177, 20, 156, 0.8);
}

@media only screen {
  .mainbg {
    background: var(--mainbg-gradient);
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
  }
  .mainbg.hide .mainbg-svgcontainer {
    opacity: 0;
  }
  .mainbg-svgcontainer {
    opacity: 1;
    transition: opacity 0.25s;
  }
  .mainbg-svgcontainer-svg {
    width: 100%;
    height: 100%;
  }
  .mainbg-svgcontainer-svg text {
    user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
  }
}
@media only screen {
  .dragdrop {
    transition: box-shadow 0.4s ease, background-color 0.4s ease;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
    pointer-events: none;
  }
  .dragdrop.over {
    pointer-events: all;
  }
  .dragdrop.highlight {
    background-color: rgba(255, 225, 136, 0.406);
    box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
  }
}
@media only screen {
  .imageslist {
    display: grid;
    grid-template-rows: 8% 82% 10%;
    max-height: 100vh;
    overflow: hidden;
    background-color: var(--imagelist-reveal-bg);
  }
  .imageslist-header {
    width: 100%;
    text-align: center;
    padding: 5px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    background-color: var(--imagelist-header-bg);
  }
  .imageslist-header-item, .imageslist-header-subitem {
    color: var(--imagelist-font-color);
    font-family: var(--font-body);
    font-size: 14px;
    text-align: center;
    display: block;
  }
  .imageslist-header-subitem {
    font-size: 12px;
  }
  .imageslist-list {
    overflow: scroll;
    background-color: var(--imagelist-bg);
  }
  .imageslist-list-item {
    display: block;
    position: relative;
    width: calc(100% - 24px);
    margin: 12px;
    box-sizing: border-box;
    animation: 0.25s ease 0s 1 normal both running openup;
  }
  @keyframes openup {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  .imageslist-list-item:hover .imageslist-list-item-filename,
  .imageslist-list-item:hover .imageslist-list-item-close,
  .imageslist-list-item:hover .imageslist-list-item-reveal {
    pointer-events: all;
    opacity: 1;
    transform: scale(1);
  }
  .imageslist-list-item:hover .imageslist-list-item-filename {
    pointer-events: none;
  }
  .imageslist-list-item.active .imageslist-list-item-image {
    border: 2px solid var(--imagelist-item-border-color);
    box-shadow: 0px 4px 15px var(--imagelist-item-border-color);
  }
  .imageslist-list-item-close,
  .imageslist-list-item-reveal {
    position: absolute;
    top: 4px;
    left: 4px;
    text-decoration: none;
    color: var(--imagelist-item-close-font-color);
    background-color: var(--imagelist-item-close-bg);
    padding: 0px 7px 2px 7px;
    border-radius: 25px;
    font-family: var(--font-body);
    border: 1px solid var(--imagelist-item-close-stroke-color);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.25s ease, transform 0.25s ease;
    transform: scale(0);
  }
  .imageslist-list-item-reveal {
    top: 34px;
    padding: 0px 10px 2px 10px;
    background-color: var(--imagelist-item-reveal-bg);
  }
  .imageslist-list-item-reveal:before {
    content: "";
    position: absolute;
    bottom: 31%;
    transform: rotate(45deg);
    left: 46%;
    width: 7px;
    height: 2px;
    background-color: var(--imagelist-item-close-font-color);
  }
  .imageslist-list-item-reveal:after {
    content: "";
    position: absolute;
    top: 21%;
    left: 22%;
    border-radius: 100%;
    border: 2px solid var(--imagelist-item-close-font-color);
    width: 5px;
    height: 5px;
  }
  .imageslist-list-item-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    display: block;
    min-height: 200px;
    box-shadow: 0px 4px 15px var(--imagelist-item-shadow-color);
    transition: box-shadow 0.5s ease, border-color 0.5s ease;
    border: 2px solid transparent;
    text-decoration: none;
  }
  .imageslist-list-item-filename {
    font-family: var(--font-body);
    font-size: 12px;
    padding: 5px 10px;
    color: var(--imagelist-item-close-font-color);
    position: absolute;
    bottom: 5px;
    left: 5px;
    background-color: var(--imagelist-item-reveal-bg);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.25s ease, transform 0.25s ease;
    transform: scale(0);
  }
  .imageslist-list-item-actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px 17px;
    padding: 15px;
    min-width: 0;
  }
  .imageslist-list-item-actions-action {
    display: inline-block;
    text-decoration: none;
    font-family: var(--font-body);
    font-size: 20px;
    background-image: var(--imagelist-action-gradient);
    border: 1px solid var(--imagelist-action-stroke-color);
    padding: 10px 20px;
    color: var(--imagelist-font-color);
    text-align: center;
  }
  .imageslist-list-item-actions-action.delete {
    background-image: var(--imagelist-delete-gradient);
    border: 1px solid var(--imagelist-delete-stroke-color);
  }
  .imageslist-list-loading {
    border-radius: 50%;
    border: 8px solid var(--imagelist-loading-fill);
    position: relative;
    left: calc(50% - 33px);
    transform: scale(0);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.25s ease, opacity 0.25s ease, width 0.25s ease;
    width: 0px;
    aspect-ratio: 1;
    margin-bottom: 20px;
  }
  .imageslist-list-loading.active {
    width: 50px;
    transform: scale(1);
    animation: l20-1 0.8s infinite linear alternate, l20-2 1.6s infinite linear;
    display: block;
    opacity: 1;
  }
  @keyframes l20-1 {
    0% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
    }
    12.5% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
    }
    25% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
    }
    50% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
    }
    62.5% {
      clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
    }
    75% {
      clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
    }
    100% {
      clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
    }
  }
  @keyframes l20-2 {
    0% {
      transform: scaleY(1) rotate(0deg);
    }
    49.99% {
      transform: scaleY(1) rotate(135deg);
    }
    50% {
      transform: scaleY(-1) rotate(0deg);
    }
    100% {
      transform: scaleY(-1) rotate(-135deg);
    }
  }
  .imageslist-list-clearall {
    color: var(--imagelist-reveal-button-font-color);
    text-decoration: none;
    font-family: "Futura", sans-serif;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    margin-bottom: 30px;
    border: 1px solid var(--imagelist-reveal-button-stroke-color);
    padding: 10px 20px;
    background-color: var(--imagelist-item-close-bg);
  }
  .imageslist-revealbutton {
    font-family: var(--font-body);
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--imagelist-reveal-button-font-color);
    background-color: var(--imagelist-reveal-button-bg);
    border: 1px solid var(--imagelist-reveal-button-stroke-color);
    box-sizing: border-box;
    margin: 20px;
  }
}
@media only screen {
  .imageseditor {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 30% 70%;
    z-index: 50;
    transition: transform 0.25s ease, opacity 0.25s ease;
    transform: scale(0);
    opacity: 0;
  }
  .imageseditor.active {
    transform: scale(1);
    opacity: 1;
  }
}
@media only screen {
  .imagescanvas {
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
    position: relative;
    background-color: var(--imagecanvas-bg);
  }
  .imagescanvas-col {
    position: relative;
  }
  .imagescanvas-col:first-child:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0px;
    height: 100%;
    width: 3px;
    background-image: linear-gradient(90deg, #000, #fff, #000);
    z-index: 5;
  }
  .imagescanvas-col-header,
  .imagescanvas-col-footer {
    position: absolute;
    z-index: 10;
  }
  .imagescanvas-col-header {
    background-color: var(--imagecanvas-header-bg);
    color: var(--imagecanvas-header-font-color);
    font-family: var(--font-header);
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    padding: 9px 14px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    top: 0px;
  }
  .imagescanvas-col-footer {
    background-color: var(--imagecanvas-footer-bg);
    color: var(--imagecanvas-header-font-color);
    font-family: var(--font-body);
    text-align: center;
    padding: 11px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    bottom: 0px;
  }
  .imagescanvas-col-footer-bytes {
    font-size: 16px;
    margin-bottom: 6px;
  }
  .imagescanvas-col-footer-size {
    font-size: 12px;
    opacity: 0.5;
  }
  .imagescanvas-col-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: grab;
  }
  .imagescanvas-sliders {
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    z-index: 20;
    background-color: var(--imagecanvas-sliders-bg);
  }
  .imagescanvas-sliders-slider {
    display: flex;
    padding: 8px 11px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .imagescanvas-sliders-slider-label {
    display: block;
    font-family: var(--font-body);
    font-size: 13px;
    color: var(--imagecanvas-sliders-font-color);
    width: 100%;
  }
  .imagescanvas-sliders-slider-input {
    appearance: none;
    outline: none;
    width: calc(100% - 40px);
    background: transparent;
    display: inline-block;
  }
  .imagescanvas-sliders-slider-input::-webkit-slider-runnable-track {
    width: calc(100% - 40px);
    height: 1px;
    background: var(--imagecanvas-slider-track);
  }
  .imagescanvas-sliders-slider-input::-webkit-slider-thumb {
    appearance: none;
    width: 11px;
    height: 11px;
    top: -5px;
    position: relative;
    border-radius: 100%;
    background: var(--imagecanvas-slider-handle-fill);
    border: 1px solid var(--imagecanvas-slider-handle-stroke);
    cursor: pointer;
  }
  .imagescanvas-sliders-slider-inputvalue {
    display: inline-block;
    font-family: var(--font-body);
    color: var(--imagecanvas-slider-number-font-color);
    background-color: var(--imagecanvas-slider-number-bg);
    padding: 5px;
    font-size: 10px;
    text-align: center;
    width: 20px;
  }
}
@media only screen {
  div.tooltip[role=tooltip] {
    font-family: var(--font-body);
    letter-spacing: 0.5px;
    font-size: 10px;
    z-index: 50;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
    background-color: var(--tooltip-bg);
    white-space: pre-line;
  }
}
@media only screen {
  .hottoast {
    font-family: var(--font-body);
    background-color: var(--hottoast-bg) !important;
    color: var(--hottoast-font-color) !important;
  }
}
@media only screen {
  .settingspane {
    position: absolute;
    z-index: 100;
    background-color: var(--settings-tint-bg);
    color: var(--settings-font-color);
    width: 100%;
    height: 100%;
    font-family: var(--font-body);
    letter-spacing: 0.5px;
    transition: opacity 0.25s ease, transform 0.25s ease;
    opacity: 0;
    transform: scale(0);
    pointer-events: none;
  }
  .settingspane.active {
    pointer-events: all;
    opacity: 1;
    transform: scale(1);
  }
  .settingspane-inner {
    position: relative;
    background-color: var(--settings-bg);
    padding: 20px;
    margin: 40px;
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    box-sizing: border-box;
  }
  .settingspane-inner-close {
    color: var(--settings-font-color);
    text-decoration: none;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 40px;
    text-box: trim-both cap text;
  }
  .settingspane-inner-header {
    text-align: center;
    font-family: var(--font-header);
    font-size: 44px;
  }
  .settingspane-inner-fields {
    height: calc(100% - 40px);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
  }
  .settingspane-inner-fields-form {
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
  }
  .settingspane-inner-fields-form-fields {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  .settingspane-inner-fields-form-fields-field {
    margin-bottom: 40px;
    position: relative;
  }
  .settingspane-inner-fields-form-fields-field.number:before {
    content: "";
    pointer-events: none;
    position: absolute;
    right: 20px;
    bottom: 22px;
    z-index: 10;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 4px 8px 4px;
    border-color: transparent transparent var(--settings-font-color) transparent;
    transform: rotate(0deg);
  }
  .settingspane-inner-fields-form-fields-field.number:after {
    content: "";
    pointer-events: none;
    position: absolute;
    right: 20px;
    bottom: 11px;
    z-index: 10;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 4px 0px 4px;
    border-color: var(--settings-font-color) transparent transparent transparent;
    transform: rotate(0deg);
  }
  .settingspane-inner-fields-form-fields-field-button,
  .settingspane-inner-fields-form-field-submit {
    appearance: none;
    border: 1px solid var(--settings-font-color);
    color: var(--settings-font-color);
    font-family: var(--font-body);
    padding: 7px 14px;
    font-size: 18px;
    letter-spacing: 0.5px;
    cursor: pointer;
    margin-right: 15px;
  }
  .settingspane-inner-fields-form-fields-field-button[name=save],
  .settingspane-inner-fields-form-field-submit[name=save] {
    background-color: var(--settings-save-bg);
  }
  .settingspane-inner-fields-form-fields-field-button[name=restoredefaults],
  .settingspane-inner-fields-form-field-submit[name=restoredefaults] {
    background-color: var(--settings-restore-bg);
  }
  .settingspane-inner-fields-form-fields-field-button {
    margin-top: 15px;
    margin-right: 0;
    position: absolute;
    background-color: var(--settings-field-bg);
    font-size: 12px;
  }
  .settingspane-inner-fields-form-fields-field-label {
    display: block;
    font-size: 21px;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
  }
  .settingspane-inner-fields-form-fields-field-select div[class*=singleValue],
  .settingspane-inner-fields-form-fields-field-select div[class*=control],
  .settingspane-inner-fields-form-fields-field-select div[class*=menu] {
    border-radius: 0px;
    background-color: var(--settings-field-bg);
    color: var(--settings-font-color);
  }
  .settingspane-inner-fields-form-fields-field-select div[class*=control] {
    border: 1px solid var(--settings-field-border-color);
    border-color: var(--settings-field-border-color);
    box-shadow: none;
  }
  .settingspane-inner-fields-form-fields-field-select div[class*=control]:hover {
    border-color: var(--settings-field-border-color);
  }
  .settingspane-inner-fields-form-fields-field-select div[class*=option] {
    background-color: var(--settings-field-bg);
  }
  .settingspane-inner-fields-form-fields-field-select div[class*=option]:active, .settingspane-inner-fields-form-fields-field-select div[class*=option]:hover {
    background-color: var(--settings-field-bg-hover);
  }
  .settingspane-inner-fields-form-fields-field-select div[class*=indicatorContainer] {
    color: var(--settings-font-color);
  }
  .settingspane-inner-fields-form-fields-field-select .css-hlgwow input, .settingspane-inner-fields-form-fields-field-select .css-hlgwow input:after {
    opacity: 0 !important;
  }
  .settingspane-inner-fields-form-fields-field-number {
    appearance: none;
    padding: 10px 10px 8px 10px;
    font-size: 15px;
    font-family: var(--font-body);
    width: 100%;
    box-sizing: border-box;
    background-color: var(--settings-field-bg);
    color: var(--settings-font-color);
    border: 0px;
    border: 1px solid var(--settings-field-border-color);
    position: relative;
  }
  .settingspane-inner-fields-form-fields-field-number::-webkit-inner-spin-button, .settingspane-inner-fields-form-fields-field-number::-webkit-outer-spin-button {
    opacity: 0;
    cursor: pointer;
    padding: 7px;
  }
  .settingspane-inner-fields-form-fields-field-desc {
    position: absolute;
    margin-top: 24px;
    font-size: 12px;
    margin-left: 130px;
  }
}

/*# sourceMappingURL=index.css.map */
